.footer__adress {
    color: $hero-title-color;
  
    font-style: normal;
    font-weight: 400;
  
    font-size: 14px;
    line-height: 1.7;
  
    margin-top: 0px;
    margin-bottom: 9px;
  }
  
  .footer__list {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0px;
  }
  
  .footer__mail--item,
  .footer__tel--item {
    display: inline-block;
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  
    color: $link-color;
  
    font-style: normal;
    font-weight: 400;
  
    font-size: 14px;
    line-height: 1.17;
  
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }
  }
  
  .footer__mail {
    margin-bottom: 9px;
  }
  
  .footer__footer-contacts {
    margin-right: 70px;
    }