.header-contacts {
    display: flex;
    list-style: none;
    align-items: center;
    fill: $primary-text-color;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  
  .mail__link,
  .tel__link {
    color: $primary-text-color;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    
  
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:focus, &:hover {
        color: $accent-color;
    }

   
  }
  
  .mail {
      margin-right: 30px;

      &__icon {
        margin-right: 10px;
        fill: currentColor;
      }
  }

  .tel__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  .contacts {
    margin-left: auto;
  }