
*::before,
*::after {
  box-sizing: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  * body {
    color: $primary-text-color;
    background-color: $hero-title-color;
  
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }
  
  .list {
    list-style: none;
  } 
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .page__container {
    display: flex;
    align-items: center;
  }

  .header {
    border: 1px solid $header-border-color;
  }
  